<h1>Who is parking?</h1>
<nav>
  <ul>
    <li>
      <a routerLink="home" (click)="onNavigateRoute('home')">Home</a>
    </li>
    <li>
      <a routerLink="dashboard" (click)="onNavigateRoute('dashboard')"
        >Dashboard</a
      >
    </li>
    <li>
      <a routerLink="house" (click)="onNavigateRoute('house')">Häuser</a>
    </li>
    <li>
      <a routerLink="parked-car" (click)="onNavigateRoute('parkedCar')"
        >Auto erfassen</a
      >
    </li>
    <li>
      <a routerLink="profile" (click)="onNavigateRoute('profile')">Profil</a>
    </li>
  </ul>
</nav>

<!-- <a routerLink="login">Login</a> -->

<router-outlet />
