@if(searchModel$ | async; as searchModel) {
<section class="filter">
  <header>
    <label for="date-from">Datum von</label>
    <input
      #dateFrom
      id="date-from"
      type="date"
      required
      [(ngModel)]="searchModel.dateFrom"
    />
  </header>
  <header>
    <label for="date-to">Datum bis</label>
    <input
      #dateTo
      id="date-to"
      type="date"
      required
      [(ngModel)]="searchModel.dateTo"
    />
  </header>
  <header>
    <label for="houses">Haus</label>
    <select
      [(ngModel)]="searchModel.houseId"
      #houseSelection
      required
      name="houses"
      id="houses"
    >
      @for (house of houses$ | async; track $index) {
      <option [value]="house.houseId">
        {{ house.street }} {{ house.number }}
      </option>
      }
    </select>
  </header>

  <header>
    <button
      type="button"
      [disabled]="!isSearchModelValid()"
      (click)="onSearchCars()"
    >
      Suchen
    </button>
  </header>
</section>

<section class="cars">
  @for (car of cars$ | async; track $index) {
  {{ car.numberPlate }}
  }
</section>

}
