@if(searchModel$ | async; as searchModel) {
<section class="filter">
  <header>
    <label for="date-from">Datum von</label>
    <input
      #dateFrom
      id="date-from"
      type="date"
      required
      [(ngModel)]="searchModel.dateFrom"
    />
  </header>
  <header>
    <label for="date-to">Datum bis</label>
    <input
      #dateTo
      id="date-to"
      type="date"
      required
      [(ngModel)]="searchModel.dateTo"
    />
    <!-- TODO: maybe just month? -->
  </header>
  <header>
    <label for="houses">Haus</label>
    <select
      [(ngModel)]="searchModel.houseId"
      #houseSelection
      required
      name="houses"
      id="houses"
    >
      <!-- TODO: maybe multiselect of houses -->
      @for (house of houses$ | async; track $index) {
      <option [value]="house.houseId">
        {{ house.street }} {{ house.number }}
      </option>
      }
    </select>
  </header>

  <header>
    <button
      type="button"
      [disabled]="!isSearchModelValid()"
      (click)="onSearchCars()"
    >
      Suchen
    </button>
  </header>
</section>

<section>
  <table>
    <thead>
      <tr>
        <th>Name & Vorname</th>
        <th>Kennzeichen</th>
        <th>Marke</th>
        <th>Ankunft</th>
      </tr>
    </thead>
    <tbody>
      @for (car of (cars$ | async); track $index) {
      <tr>
        <td>{{ car.lastname }} {{ car.firstname }}</td>
        <td>{{ car.numberPlate }}</td>
        <td>{{ car.carBrand }}</td>
        <td>{{ car.arrival | date : "dd.MM.yyyy HH:mm" }}</td>
      </tr>
      }
    </tbody>
  </table>
</section>
}
